{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <p>
            Username:<br>
            <input type="text" name="username" value="{{ current_user.username }}" required>
        </p>
        <p>
            Email:<br>
            <input type="email" name="email" value="{{ current_user.email }}" required>
        </p>
        <p>
            <input type="submit" value="Save Changes">
        </p>
    </form>
{% endblock %}

