
{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>

    {% if user == current_user %}
        <p><a href="{{ url_for('views.edit_profile') }}">Edit your profile</a></p>
    {% elif not current_user.is_following(user) %}
        <p>
            <a href="{{ url_for('views.follow', username=user.username) }}">Follow</a>
        </p>
    {% else %}
        <p>
            <a href="{{ url_for('views.unfollow', username=user.username) }}">Unfollow</a>
        </p>
    {% endif %}
{% endblock %}
